<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>WORD TEST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <h1>ADMIN PAGE</h1>
        <div class="d-flex justify-content-end">
            <a href="/">메인 페이지</a>
        </div>
        <p>
            <a class="btn btn-lg btn-secondary" href="/admin/test">테스트 관리</a>
            <a class="btn btn-lg btn-secondary" href="/admin/group">그룹 관리</a>
        </p>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>