<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron"><h1>Select Test</h1></div>
    <h4>시험 선택</h4>

    <form th:object="${test}" method="post" id="selectTest">
        <!-- method = get으로 설정되어 있으므로 반환된 데이터가 GetMapping으로 전달됨.-->
        <div class="form-group">
            <label for="selectTest">Test</label>
            <select class="form-control" id="test" th:field="*{wordList}">
                <option th:each="test : ${tests}" th:value="${test.id}" th:text="${test.name}"></option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success">시험보기</button>
    </form>
    <a href="/test/select" class="btn btn-primary" style="float: right;">돌아가기</a>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>