<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>WORD TEST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="form-group" th:object="${form}">
        <input type="text" th:field="*{login_pw}" class="form-control"
               placeholder="비밀번호를 입력하세요"
               th:class="${#fields.hasErrors('login_id')}? 'form-control fieldError' : 'form-control'">
        <p th:if="${#fields.hasErrors('login_pw')}" th:errors="*{login_pw}">잘못된 비밀번호</p>

        <input type="text" th:field="*{name}" class="form-control"
               th:placeholder="${user.name}"
               th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">잘못된 이름</p>

        <label th:for="name">나이</label>
        <input type="number" th:field="*{age}" class="form-control"
               placeholder="나이를 입력하세요"
               th:class="${#fields.hasErrors('age')}? 'form-control fieldError' : 'form-control'">
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">잘못된 나이</p>

        <select class="form-control" id="group" th:field="*{group_id}">
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
        </select>
        <div>
            <a href="/user" class="btn btn-primary" style="float: right;">돌아가기</a>
            <div th:replace="fragments/footer :: footer"/>
        </div> <!-- /container -->
    </div>
</div>
</body>
</html>