<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>WORD TEST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/user/info/edit" th:object="${form}" method="post">
        <div class="form-group">
            <p><label th:for="login_pw">Password</label>
                <input type="password" th:field="*{login_pw}" class="form-control"
                       placeholder="비밀번호를 입력해주세요"
                       th:class="${#fields.hasErrors('login_pw')}? 'form-control fieldError' : 'form-control'">
            </p>
            <p><label th:for="name">Name</label>
                <input type="text" th:field="*{name}" class="form-control"
                       th:placeholder="${user.name}"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            </p>
            <p><label th:for="Age">Age</label>
                <input type="number" th:field="*{age}" class="form-control"
                       th:placeholder="${user.age}"
                       th:class="${#fields.hasErrors('age')}? 'form-control fieldError' : 'form-control'">
            </p>
            <label th:for="name">Group</label>
            <select class="form-control" id="group" th:field="*{group_id}">
                <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
            </select>
            <div>
                <button type="submit" class="btn btn-outline-success">수정하기</button>
                <a href="/user" class="btn btn-primary" style="float: right;">돌아가기</a>
                <div th:replace="fragments/footer :: footer"/>
            </div> <!-- /container -->
        </div>
    </form>
</div>
</body>
</html>