<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>WORD TEST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <h1>USER PAGE</h1>
        <p>
            <a class="btn btn-lg btn-secondary" href="/user/info">고객 정보</a>
        </p>
        <p>
            <a class="btn btn-lg btn-info" href="/user/withdraw">회원 탈퇴</a>
        </p>
    </div>
    <a href="/" class="btn btn-primary" style="float: right;">돌아가기</a>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>