<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Word Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <h1>단어 시험</h1>
        <div class="d-flex justify-content-end">
            <p>
                <span th:if="${logIn}">
                    <a href="/user/logout">로그아웃</a>
                </span>
                <span th:unless="${logIn}">
                    <a href="/user/login">로그인</a>
                    <a href="/user/new">회원 가입</a>
                </span>
            </p>
        </div>
        <p>
            <a class="btn btn-lg btn-secondary" href="/user">고객 기능</a>
        </p>
        <p>
            <a class="btn btn-lg btn-dark" href="/word">단어 기능(admin)</a>
        </p>
            <a class="btn btn-lg btn-info" href="/test">시험 기능</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>